.formLabel{
  display: block;
  margin-bottom: 16px;
  p{
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
  }
  .input{
    width: 100%;
    outline: none;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 3px;
    border: 1px solid rgb(200, 200, 200);
    padding: 8px 16px ;
    &:focus{
        outline: 1pt solid rgb(120, 120, 120);
    }
  }
  .error{
    font-size: 14px;
    color: crimson;
  }
}