.root{
  width: 100%;
  .category{
    text-align: center;
    font-size: 40px;
    margin: 24px 0 12px 0;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    span{
      color: #4169e1;
    }
  }
  .todos{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    .error{
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 500;
      word-spacing: 5px;
    }
  }

  .return{
    background: #4169e1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 100%;
    color: white;
    font-size: 32px;
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    transition: .3s;
    &:hover{
      box-shadow: 0 0 5px #4169e1;
    }
  }
}