.root{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .formTitle{
    position: relative;
    color: black;
    font-size: 32px;
    font-weight: 600;
  }
  .form{
    position: relative;
    width: 500px;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
    text-align: center;
    .error{
      color: crimson;
    }
  }
}