.root{
  .title{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin: 24px 0;
  }
  .form{
    position: relative;
    width: 600px;
    padding: 24px;
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 0px 11px -1px #bebebe;
    box-shadow: 0px 0px 11px -1px #bebebe;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    .formLabel{
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      position: relative; 
      p{
        margin: 0;
        text-align: left;
        margin: 0 10px 3px 0;
        width: 20%;
      }
      div{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .formInput{
          width: 100%;
          outline: none;
          border-radius: 5px;
          background: none;
          font-size: 16px;
          font-family: inherit;
          margin-bottom: 3px;
          border: 1px solid rgb(200, 200, 200);
          padding: 8px 16px ;
          &:focus{
              outline: 1pt solid rgb(120, 120, 120);
          }
        }
        .formInput#formArea{
          resize: vertical;
          min-height: 120px;
          height: 120px;
          max-height: 300px;
        }
        .error{
          position: absolute;
          font-size: 14px;
          color: crimson;
          right: 50%;
          bottom: -18px;
          transform: translateX(50%);
        }
      }
    }
    .formSubmit{
      border: none;
      outline: none;
      border-radius: 5px;
      background: none;
      font-size: 16px;
      margin: 10px 10px 16px 10px;
      background-color: #4169e1;
      color: white;
      padding: 12px 16px ;
      cursor: pointer;
      &:hover,
      &:focus{
          box-shadow: 0px 0px 5px #4169e1;
      }
      &:disabled,
      &:disabled:focus,
      &:disabled:hover{
        background-color: #92a5dd;
        box-shadow: none;
      }
    }
    .bottomText{
      p{
        font-size: 14px;
        margin: 0;
        .link{
          text-decoration: inherit;
          color: #4169e1;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .error{
      color: crimson;
    }
  }
}